<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" th:href="@{/resource/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/resource/js/jquery.js}"></script>
    <script th:src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resource/css/aboutus.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/resource/images/favicon1.png}" />
</head>
<body>

<!-- Content -->
<div class="container-fluid">
    <div class="row" style="margin-top: 4px;">
        <div class="col-sm-4">
            <div class="container-fluid bg-1 text-center">
<h3>ShopUpSpot: Your One-Stop Destination for Seamless Shopping Delights!</h3>
                <img th:src="@{/resource/images/aboutImage.png}" class="img-circle" alt="AboutUs" width="350" height="350">
                
            </div>
        </div>
        <div class="col-sm-8 bg-2">
            <div id="para">
                <p>Discover a world of convenience and endless choices at ShopUpSpot, your premier e-commerce destination. From the latest fashion trends to cutting-edge electronics, we bring the market to your fingertips.</p>
            </div>
            <div id="para">
                  <div class="row">
        <div class="col-md-12 text-center">
            <h2>Why ShopUpSpot?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><i class="fas fa-shopping-bag"></i> <strong>Shop Anytime, Anywhere:</strong> Enjoy 24/7 access to a vast array of products from the comfort of your home.</p>
            <p><i class="fas fa-truck"></i> <strong>Swift Delivery:</strong> We deliver your favorite items right to your doorstep, ensuring a hassle-free shopping experience.</p>
            <p><i class="fas fa-money-bill-wave"></i> <strong>Amazing Deals:</strong> Don't miss out on exclusive discounts and offers that make every purchase a steal.</p>
        </div>
        <div class="col-md-6">
            <p><i class="fas fa-star"></i> <strong>Quality Assured:</strong> Shop with confidence, knowing that our curated selection meets the highest standards.</p>
            <p><i class="fas fa-comments"></i> <strong>Customer Support:</strong> Our dedicated team is here to assist you, providing exceptional service whenever you need it.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Join the shopping revolution today! <strong>ShopUpSpot - Where Convenience Meets Quality.</strong></p>
        </div>
    </div>
            </div>
        </div>
    </div>
</div>


  


</body>
</html>
