<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://www.springframework.org/tags" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" th:href="@{/resource/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/resource/js/jquery.js}"></script>
    <script th:src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resource/css/overall.css}" />
</head>
<body>
    <hr class="w3-bar-block w3-third w3-container w3-margin-bottom">
    <div class="w3-row-padding" style="padding:0px 30px; margin-bottom: 20px">
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/two.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo A37</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 10,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
        
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/seven.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo A53</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 8,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/five.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo F1s</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 18,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    
    <hr class="w3-bar-block w3-third w3-container w3-margin-bottom">
    <div class="w3-row-padding" style="padding:0px 30px; margin-bottom: 20px">
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/five.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo F1s</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 18,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
        
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/1.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo A53</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 8,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <img th:src="@{/resource/images/products/4.jpg}" alt="Norway" style="width: 100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <p><b>Oppo A37</b></p>
                <p>
                    <ul>
                        <li>Technology - GSM/HSPA/LTE</li>
                        <li>Resolution - 720x1280 pixels</li>
                        <li>OS - Android OS, v5.1(Lollipop)</li>
                        <li>Price - 10,000.00</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
