<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.thymeleaf.org/extras/spring-form">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Register Here</title>
    <link rel="icon" type="image/x-icon" th:href="@{/resource/images/favicon1.png}" />
    <link rel="stylesheet" href="@{/resource/bootstrap/css/bootstrap.min.css}" />
    <script src="@{/resource/js/jquery.js}"></script>
    <script src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resource/css/register.css}" />
</head>
<body>
    <div th:replace="~{navbar :: nav}"></div>
   
    <div class="container" style="margin-bottom: 19px">
        <h1 class="well">Register Here !</h1>
        <div class="col-lg-12 well">
            <div class="row">             
                <form th:action="@{/customer/registration}" method="post" th:object="${customer}" enctype="multipart/form-data">
                    <div class="col-sm-12">
                        <div class="row">
                            <div>
                                <center>User Details</center>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" placeholder="Enter First Name.." class="form-control"
                                       th:field="*{firstName}" />
                                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" placeholder="Enter Last Name.." class="form-control"
                                       th:field="*{lastName}" />
                            </div>
                        </div>
                       <div class="row">
    <div class="col-sm-6 form-group">
        <label for="customer.users.emailId">Email Id</label>
        <input type="text" placeholder="Enter Email ID.." class="form-control" th:field="${customer.users.emailId}" />
        <div th:if="${#fields.hasErrors('customer.users.emailId')}" th:errors="*{customer.users.emailId}"></div>
    </div>
    <div class="col-sm-6 form-group">
        <label for="customerPhone">Phone Number</label>
        <input type="text" placeholder="Enter Phone Number.." class="form-control" th:field="${customer.customerPhone}" />
        <div th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></div>
    </div>
</div>

                        <hr>
                        <div>
                            <center>Shipping Address</center>
                        </div>
                        <!-- Shipping Address fields -->
                        <hr>
                        <div>
                            <center>Billing Address</center>
                        </div>
                        <!-- Billing Address fields -->
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="users.password">Password</label>
                                <input type="password" placeholder="********" class="form-control"
                                       th:field="*{users.password}" id="pass" />
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Confirm Password</label>
                                <input type="password" placeholder="********" class="form-control" id="confirmpass" />
                            </div>
                        </div>
                        <div class="form-actions">
    <button type="submit" class="btn btn-lg btn-info" onclick="validateAndSubmit()">Submit</button>
</div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"></div>
    
    <script type="text/javascript">
    function validateAndSubmit() {
        var password = document.getElementById("pass").value;
        var confirmpass = document.getElementById("confirmpass").value;
        if (password != confirmpass) {
            alert("Password does Not Match.");
            return false;
        }
        // Optionally, you can submit the form here if validation passes
       // document.forms[0].submit(); // Assuming this is the first form on the page
    }
</script>
    

    <!-- Validating Password -->
    <script type="text/javascript">
        function Validate() {
            var password = document.getElementById("pass").value;
            var confirmpass = document.getElementById("confirmpass").value;
            if (password != confirmpass) {
                alert("Password does Not Match.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
